@media screen and (max-width: 1330px) {
	.header {
		&__container {
			padding-left: 115px;
		}
	}

	.banner-first {
		.container {
			padding-left: 0;
		}

		&__wrapper {
			padding: 137 0 106px 0;
		}

		&__logo {
			height: 75px;
		}


		&__left {
			padding-left: 115px;
			max-width: 455px;


			h1 {
				font-size: 36px;
				line-height: 42px;
				margin-top: 37px;
				padding-bottom: 41px;
			}

			p {
				margin: 31px 0 31px;
			}
		}

		&__btn {
			width: 183px;
			height: 50;
		}

		&__right {
			width: 398px;

			legend {
				font-size: 18px;
			}
		}
	}

}

@media screen and (max-width: 1100px) {
	p:not(label p) {
		font-size: 14px;
		line-height: 17px;
	}

	h3 {
		font-size: 24px;
	}

	.about, .reviews, .pricing, .contact, .banner-second {
		h2 {
			font-size: 24px;
			line-height: 120px;
		}

		&__wrapper{

			> p {
				margin-top: 32px;
			}
		}

		&__items {
			margin-top: 32px;
		}

		&__item {
			margin-right: 20px;
			h4:not(.pricing, h4) {
				font-size: 18px;
				line-height: 82px;
			}
		}

	}

	.banner-first {
		p {
			width: 183px;
		}
	}

	.social {

		&__left {
			margin-right: 20px;

			h4 {
				line-height: 45px;
			}

			p {
				margin: 13px 0;
			}
		}

		.social-link {
			transform: scale(0.91);
		}

		&__right {
			margin-top: 17px;
		}
	}

	.tabs {
		padding-top: 50px;

		&__text {
			padding: 0 26px 50px 85px;

			h3 {
				line-height: 89px;

			}

			p {
				margin: 38px 0;
			}
		}

		&__btn {
			width: 231px;
		}
	}

	.about {
		&__img {
			height: 147px;
			width: 147px;
		}
	}

	.pricing {

		&__item {

			h4 {
				line-height: 49px;
			}

			p {
				line-height: 89px;
			}
		}

		&__link {
			line-height: 44px;
		}
	}

	.reviews {
		&__item {
			> p {
				padding: 50px 25px;
				background-color: #E2E2E2;
				border-radius: 10px;
				color: $textcolor;
			}
		}

		&__people {
			img {
				height: 63px;
			}
		}

		&__description {
			margin-left: 22px;

			h4 {
				line-height: 36px;
				font-size: 18px;
			}

			p {
				margin-top: 9px;
			}
		}
	}

	.banner-second {

		&__btn {
			margin-top: 32px;
			width: 318px;
		}
	}

	.contact {
		&__items {
			margin-top: 56px;
		}

		&__item {
			&:first-child {
				margin-right: 20px;
			}
		}

		&__btn {
			width: 318px;
		}
	}

	.footer {
		padding: 22px 0;

		&__wrapper {
			max-width: 450px;
		}

		.social-link {
			transform: scale(0.64);
		}

		p {
			margin-top: 23px;
		}
	}
}