:root {
	scroll-behavior: smooth;
	background-color: #fff;
}

.container {
	margin: 0 auto;
	padding: 0 16px;
	max-width: 1170px;
}

.social-link {
	path{
	transition: .2s;
}
	&:hover {
		path{
			stroke: $maincolor;
			fill: $maincolor;
			cursor: pointer;
		}
	}
}