.header__nav-link {
	@include buttons ($btnbg: $navbgN, $btnbgH: $maincolor, $btnbgA: $secondarycolor);
	width: 114px;
	height: 75px;
}

.banner-first__btn, .banner-second__btn {
	@include buttons ($btnborder: $btnborder1N, $btnbg: $btnbg1N, $btncolorH: $maincolor, $btnborderH: $btnborder1H, $btnbgH: $btnbg1H, $btnbgA: $secondarycolor);
	height: 58px;
}

.tabs__btn, .contact__btn {
	@include buttons ($btnbsA: $btnbs3A);
	height: 58px;
}

.banner-first__submit {
	@include buttons ($btnbsA: $btnbs3A, $btnborderR: $btnborderR2N);
	cursor: pointer;
}