.header {
	width: 100%;
	height: 75px;
	background-color: $bghf;
	position: fixed;
	z-index: 999;

	&__container {
		margin: 0 auto;
		max-width: 1280px;
	}

	&__logo {
		height: 75px;
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		padding-right: 55px;
	}

	&__nav-list {
		display: flex;
	}

	&__burger {
		display: none;
	}
}
