$bghf: #000;
$maincolor: #EC7979;
$secondarycolor: #AB4949;
$pricingbtnbg: #333333;
$textcolor: #86878B;
// font-family
$ffrw: 'Raleway', sans-serif;
$ffos: 'Open Sans', sans-serif;
// font-weight
$regular: 400;
$medium: 500;
$sbold: 600;
$bold: 700;
// font-size
$fsnav: 14px;
$fsbtn: 18px;
$fstext: 18px;
$fsfield: 14px;
$fsh1: 48px;
$fsh2: 36px;
$fsh3: 30px;
$fsh4: 24px;
// buttons
$navbgN:transparent;

$btnborder1N: 2px solid #FFFFFF;
$btnborder1H: 2px solid $maincolor;
$btnbg1N: transparent;
$btnbg1H: transparent;

$btnborderR2N: 0px 0px 10px 10px;
$btnbs2A: inset 0 0 15px -5px #000;

$btnbs3A: inset 0 0 15px -5px #000;