.contact {
	padding: 50px 0;
	text-align: center;

	&__wrapper {
		@include wrapper;
	}

	&__items {
		margin-top: 73px;
		display: flex;
		justify-content: space-between;

		textarea {
			height: 100%;
			resize: none;
		}
	}

	&__item {
		max-width: 570px;
		width: 100%;

		&:first-child {
			margin-right: 30px;
		}
	}

	&__form-left {
		input {
			margin-bottom: 36px;

			&:last-child {
				margin: 0;
			}
		}
	}

	&__btn {
		margin-top: 50px;
		width: 370px;
		height: 58px;
		cursor: pointer;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
}