.reviews {
	padding: 50px 0 64px;
	text-align: center;

	&__wrapper {
		@include wrapper;
	}

	&__items {
		display: flex;
		justify-content: space-between;
		margin-top: 83px;
	}

	&__item {
		@include item;

		> p {
			display: block;
			padding: 38px 25px;
			background-color: #E2E2E2;
			border-radius: 10px;
			color: $textcolor;
		}
	}

	&__item-arrow {
		width: 0;
		height: 0;
		margin-left: -45%;
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-top: 20px solid #E2E2E2;
	}

	&__people {
		margin-top: 46px;
		display: flex;
		width: 100%;

		img {
			height: 70px;
		}
	}

	&__description {
		text-align: left;
		margin-left: 30px;

		h4 {
			line-height: 54px;
			text-align: left;
		}

		p {
			margin-top: 15px;
			color: #000;
		}
	}
}