@mixin text ($ff: $ffrw, $fs: 18px, $fw: 400, $lh: 21px, $ta: center, $tt: none) {
	font-family: $ff;
	font-size: $fs;
	font-weight: $fw;
	line-height: $lh;
	text-align: $ta;
	text-transform: $tt;
}

@mixin buttons ($btnborder: 0, $btnborderR: 0, $btnbg: $maincolor, $btncolorH: #fff, $btnborderH: 0, $btnbgH: $secondarycolor, $btnbgA: $maincolor, $btnbsA: 0) {
	color: #fff;
	transition: .3s;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	border: $btnborder;
	border-radius: $btnborderR;
	background-color: $btnbg;
	&:hover {
		color: $btncolorH;
		border: $btnborderH;
		background-color: $btnbgH;
	}
	&:active {
		border: 0;
		background-color: $btnbgA;
		box-shadow: $btnbsA;
		color: #fff;
	}
}

@mixin hr ($hrbg: $maincolor, $left: 50%, $translate: -50%) {
	&::before {
		position: absolute;
		content: '';
		height: 1px;
		width: 170px;
		background-color: $hrbg;
		bottom: 0;
		left: $left;
		transform: translateX($translate);
	}
}

@mixin wrapper ($hrbg: $maincolor, $left: 50%, $translate: -50%) {
	& > h2 {
		line-height: 150px;
		position: relative;

		&::before {
		position: absolute;
		content: '';
		height: 1px;
		width: 170px;
		background-color: $hrbg;
		bottom: 0;
		left: $left;
		transform: translateX($translate);
	}
	}

	& > p {
		margin-top: 40px;
		color: $textcolor;
	}
}

@mixin item {
	margin-right: 30px;
	max-width: 370px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	&:last-child {
		margin: 0;
	}
}

@mixin darken {
	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: .4;
		z-index: -1;
		left: 0;
		top: 0;
	}
}