$bghf: #000;
$ff: 'Raleway', sans-serif;
$ffos: 'Open Sans', sans-serif;
// font-weight
$regular: 400;
$medium: 500;
$sbold: 600;
$bold: 700;
// font-size
$fsnav: 14px;
$fsbtn: 18px;
$fsh1: 48px;
$fsh2: 36px;
$fsh3: 30px;
$fsh4: 24px;
// buttons
$navbgN:transparent;
$navbgH: #EC7979;
$navbgA: #AB4949;

$btnborder1N: 2px solid #FFFFFF;
$btnborder1H: 2px solid #EC7979;
$btnbg1N: transparent;
$btnbg1H: transparent;
$btnbg1A: #AB4949;
$btncolor1H: #EC7979;

$btnborderR2N: 0px 0px 10px 10px;
$btnbs2A: inset 0 0 8px 1px;

$btnbs3A: inset 0 0 8px 1px;
